/* Style for the QMenuBar */
QMenuBar {
    color: #ffffff;
    border: none;
}

/* Style for the QMenu */
QMenu {
    background-color: black;
    color: transparent;
    border: 0;
    border: 1px solid black;
}

/* Style for the QMenu::item */
QMenu::item {
    background-color: #FFFEFC;
    color: black;
    margin: 0;
    padding: 4px;
    padding-right: 40px;
}

/* Style for the QMenu::item:selected */
QMenu::item:selected {
    background-color: #D8EEF2;
    color: black;
}

/* Style for QAction */
QAction {
    background-color: #33d6ff; /* Hellblau */
    color: #ffffff;
    border: 1px solid black;
}

/* Style for QMenuBar::item */
QMenuBar::item {
    color: black;
    cursor: pointer;
    margin: 4px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 8px;
}

/* Style for QMenuBar::item:selected */
QMenuBar::item:selected {
    background-color: #D8EEF2; /* Orange */
    color: black;
    cursor: pointer;
}

/* Style for QMenuBar::item:pressed */
QMenuBar::item:pressed {
    background-color: #729DA6;
    color: #ffffff;
}

/* Style for QMenu::item:hover */
QMenu::item:hover {
    cursor: pointer;
}

/* Style for QMessageBox */
QMessageBox {
    background-color: #ffd633; /* Gelb */
    color: #000000;
}
